body{
    margin: 20px;
    padding: 20px;
    border: 10px solid;
}
.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
 .out{
     background-color: black;
 }
 label{
     background-color: white;
 }
 